body
	{
		background-color:#CCC;
		margin:0px;
	}

	.outer
	{
		width:1200px;
		
		background-color:#9CF;
		margin:0px auto;
	}
	.header,.footer
	{
		width:1200px;
		height:150px;
		background-color:#03F;
		clear:both;
		background-image:URL("../img/back.png");
		background-size:100% 100%;
	}
	.hleft
	{
		width:100px;
		height:100px;
		background-color:#FFF;
		float:left;
		margin:25px 0 0 50px;
		transition:3s;
	}
	.hleft:hover
	{
	 margin: 25px 0 0 80px;
	 transition :1s;	
	}
	.hright
	{
		width:400px;
		height:100px;
		background-color:#FFF;
		float:right;
		margin:25px 50px 0px 0px;
		font-size:50px;
		color:#F00;
		text-align:center;
		font-weight:bold;
		padding-top:20px;
		box-sizing:border-box;
		transition :1s;
	}
	.hright:hover
	{
	 	 
		 font-size: 55px;
		 transition :2s;	
		 color: #0F0;
	}
	blue
	{
		color:#00F;
	}
	red
	{
		color:#F00;
	}
	.menubar
	{
		width:1200px;
		height:50px;
		background-color:blue;	
	}
	.menus
	{
		width:140px;
		height:40px;
		float:left;
		background-color:white;
		color:red;
		text-align:center;
		font-size:22px;
		padding-top:10px;
		box-sizing:border-box;
		margin:5px 0 0 50px;
	}
	.menus:hover
	{
		background-color:#CF3;
	}
    .slider
	{
		width:1200px;
		height:300px;
		background-color: #ddd;
	}
	.main
	{
		width: 1200px;
		float: left;
		background-color: #FFF;
	}
	.mleft
	{
		height: 450px;
		width: 250px;
		background-color:#FFF;
		float:left;
	}
	.mright
	{
		width: 948px;
		min-height: 450px;
		background-color: #FFF;
		border-left:1px dotted #ccc;
		float: left;
		padding-bottom:50px;
	}
	.lmenus
	{
		width: 150px;
		height: 35px;
		background-color:#969;
		padding-top:10px;
	    margin:25px 0px 0px 50px ; 
		box-sizing: border-box;
		color:black;
		text-align:center;
		font-size:22px;
	}
	p
	{
	
	 text-align:justify;
	 padding: 0px 15px;
	
	}
	.gimage
	{
		width:200px;
		height:150px;
		float:left;
		margin:50px 0 0 50px;
		background-color:#CCC;
	}
	
	.gimage:hover
	{
		opacity:0.8;
		transition:1s;
	    transform:scale(1.5,1.5);
	    
	}
	
	.curow,.culeft,.curight
	{
		height:50px;
		width:880px;
		margin:0 auto;
		background-color:#222;
		float:left;
	}
	.culeft
	{
		width:200px;
		
		background-color:#33F;
	}
	.curight
	{
	    width:680px;	
		background-color:#C36;
	}

.formrow
{
	width:900px;
	height:50px;
	background-color:#eee;
	margin:10px auto;
}


.formlable
{
	width:200px;
	height:50px;
	float: left;
	padding:10px 0 0 30px;
	box-sizing:border-box;
	font-size:20px;
	font-weight:bold;
}
.forminfo
{
	width:700px;
	height:50px;
	float: left;
}

.input, .tarea
{
	width:400px;
	height:50px;
	color:#F00;
	font-size:20px;
}
.tarea
{
	height:90px;
}


.btn
{
	width:100px;
	height:30px;
	background-color:#009;
	color:#FFF;
}